<div class="customerDetailsView">
    <p id="labels">User Name</p> 
    <p id="customerdetails">{{customerDetails.UserName}}</p>
    <p id="labels">Address</p>
    <p id="customerdetails">{{customerDetails.Address}}</p>
    <p id="labels">Email <a routerLink="ChangeEmailAddress">&#9998;</a></p> 
    <p id="customerdetails">{{customerDetails.EmailAddress}}</p>
    <p id="labels">City</p>
    <p id="customerdetails">{{customerDetails.City}}</p>
    <p id="labels">Phone Number</p>
    <p id="customerdetails">{{customerDetails.PhoneNumber}}</p>
</div>
