.signUpForm 
{
    margin:3.125rem auto;
    position:relative;
    width:62.5rem;
    padding:0.875rem;
    top:-60px;
    background: #ffffff;
    font-family: "HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Arial, Helvetica, sans-serif;
    -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
    -moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.0.22);
}

@media  only screen and (max-width:817px) and (min-width:721px) and (max-height:465px)
{
    .signUpForm 
    {
        width:40.5rem;
        padding:0.3rem;
        bottom:2.5rem;
    }

}

@media  only screen and (max-width:720px) and (min-width:620px) and (max-height:465px)
{
    .signUpForm 
    {
        bottom:2.5rem;
    }
}

.formHeader
{
    background:#4D4D4D;
    text-transform:uppercase;
    color:white;
    font-size:18px;
    font-weight:100;
    padding:1.25rem;
    margin:-30px,-30px,-30px,-30px;
    font-family:"HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Arial, Helvetica, sans-serif;
}

@media  only screen and (max-width:817px) and (min-width:721px) and (max-height:465px) 
{
    .formHeader 
    {
        padding:0.8rem;
    }

}


.signUpForm input[type="text"],.signUpForm input[type="password"],.signUpForm input[type="tel"],.signUpForm input,.signUpForm ng-select
{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing:border-box;
    outline:none;
    display:block;
    width:100%;
    padding:0.4375rem;
    border:none;
    border-bottom:1px solid #ddd;
    background:transparent;
    margin-bottom:10px;
    font:16px Arial,Helvetica,sans-serif;
    height:45px;
}
@media  only screen and (max-width:817px) and (min-width:721px) and (max-height:465px)
{
.signUpForm input[type="text"],.signUpForm input[type="password"],.signUpForm input[type="tel"],.signUpForm input,.signUpForm ng-select
    {
        padding:0;
        margin-bottom:0px;
    }
}

@media  only screen and (max-width:720px) and (min-width:620px) and (max-height:465px)
{
.signUpForm input[type="text"],.signUpForm input[type="password"],.signUpForm input[type="tel"],.signUpForm input,.signUpForm ng-select
    {
        position: relative;
        height:1.9rem;
        font-size: 0.9375rem;
        right:12.5rem;
    }

.alert-warning
{
    position: relative;
    right:12.5rem;
    font-size:0.8rem;
}
    
}


.signUpForm input[type="button"]
{
    -moz-box-shadow:inset 0px 1px 0px 0px #45D6D6;
    -webkit-box-shadow: inset 0px 1px 0px 0px #45D6D6;;
    box-shadow: inset 0px 1px 0px 0px #45D6D6;
    background-color:#2CBBBB;
    border:1px solid #27A0A0;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 14px;
    padding: 8px 18px;
    text-decoration: none;
    text-transform: uppercase;
}

.signUpForm input[type="button"]:hover
{
    background:linear-gradient(to bottom,#34CACA 5%,#30C9C9 100);
    background-color:#34CACA;
}

input.ng-invalid.ng-touched,
textarea.ng-invalid.ng-touched
{
    border: 1px solid red;
}

.dropDown-btn
{
    background-color:#4CAF50;
    color:white;
    padding:16px;
}

.dropdown-content
{
color:black;
padding:12px 16px;
text-decoration:none;
display:block;
}

.signUpForm input:not(:focus)required:invalid    
{     
    background:pink;
    border:2px #b03535;
    box-shadow: 0 0 5px #d45252;
}
.signUpForm input:required:valid,
{
    border:2px solid green;
    box-shadow: 0 0 5px #5cd053;
    border-color: #28921f;
}

 .form-hint
{
    background: #d45252;
    border-radius: 3px 3px 3px 3px;
    color: white;
    margin-left:8px;
    padding: 1px 6px;
    z-index: 999; 
    position: absolute; 
    display:none;
} 
 
