<div class="NavigationMenu"  [ngClass]="{'openNav':buttonClicked,'closeNav':!buttonClicked}">
  <a class="closebtn" (click)="closeNav()">&times;</a>
      <ul>
        <li ><a>LetsShop</a></li>
        <li><a routerLink="Home">Home</a></li>
        <li><a>Categories<span class="caret"></span></a>
    <app-drop-down></app-drop-down>
    </li>
    <li><a>About</a></li>
    <li><a *ngIf="customerDetails?.UserName" routerLink="WishList">My Wish List</a></li>  
    <li  id="btn1"  href="#home" routerLink="Login" *ngIf="customerDetails?.UserName==null">
      <a>Login</a>
    </li>
    <li  id="btn2"  routerLink="SignUp" *ngIf="customerDetails?.UserName==null">
      <a>SignUp</a>
    </li>
    <li *ngIf="customerDetails?.UserName" id="btn3" (click)="logout()">
      <a>LogOut</a>
    </li>
    <li *ngIf="customerDetails?.UserName"  id="userName">
      <a routerLink="CustomerDetails">Welcome {{customerDetails?.UserName}}</a>
    </li>      
  </ul>    
</div>
<span class="sidenav" (click)="openNav()">&#9776; Menu</span>
<router-outlet></router-outlet>